<StackLayout class="keynote-bg grid-radius">
  <GridLayout
    rows="*, auto, auto, auto"
    columns="*,*,*"
    class="label-grid-inside"
  >
    <Label
      class="pull-left m-b-10 p-l-10"
      row="0"
      col="0"
      colSpan="3"
      text="KEYNOTES"
    ></Label>
    <Image class="label-image" row="1" col="0" src="~/images/girl1.png"></Image>
    <Label
      class="label-speaker-name m-t-10"
      row="2"
      col="0"
      textWrap="true"
      text="Sian M. Griffiths"
    ></Label>
    <Label
      class="label-speaker-profession"
      row="3"
      col="0"
      textWrap="true"
      text="Professor"
    ></Label>

    <Image
      class="label-image thumb img-circle"
      row="1"
      col="2"
      src="~/images/girl2.png"
    ></Image>
    <Label
      class="label-speaker-name m-t-10"
      row="2"
      col="2"
      textWrap="true"
      text="Allyson Pollock"
    ></Label>
    <Label
      class="label-speaker-profession"
      row="3"
      col="2"
      textWrap="true"
      text="Doctor"
    ></Label>
  </GridLayout>
</StackLayout>
