<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
  <GridLayout
    tkDrawerContent
    rows="auto, *"
    class="sidedrawer"
    textAlignment="right"
  >
    <StackLayout row="0" class="sidedrawer-header-custom p-l-20 p-b-10">
      <GridLayout rows="auto, *">
        <Label
          row="0"
          class="sidedrawer-header-title m-t-30"
          text="4TH INTERNATIONAL PRIMARY HEALTH CARE CONFERENCE QATAR 2020"
          textWrap="true"
        ></Label>
        <Label
          row="1"
          class="sidedrawer-header-text p-t-20 p-r-30 p-b-10"
          text="Welcome Muhammad Adil Saeed"
          textWrap="true"
        ></Label>
      </GridLayout>
    </StackLayout>

    <ScrollView row="1" class="sidedrawer-content">
      <StackLayout>
        <GridLayout
          columns="25, auto"
          class="sidedrawer-list-item"
          [class.selected]="isComponentSelected('/home')"
          (tap)="onNavItemTap('/home')"
        >
          <Image
            col="0"
            src="~/images/drawer-icon-home.png"
            stretch="none"
            class="drawer-icons"
          ></Image>
          <Label col="1" text="HOME" class="p-r-10 m-l-30"></Label>
        </GridLayout>

        <GridLayout
          columns="25, auto"
          class="sidedrawer-list-item"
          [class.selected]="isComponentSelected('/hometwo')"
          (tap)="onNavItemTap('/hometwo')"
        >
          <Image
            col="0"
            src="~/images/drawer-icon-home.png"
            stretch="none"
            class="drawer-icons"
          ></Image>
          <Label col="1" text="HOME 2" class="p-r-10 m-l-30"></Label>
        </GridLayout>

        <GridLayout
          columns="25, auto"
          class="sidedrawer-list-item"
          [class.selected]="isComponentSelected('/homethree')"
          (tap)="onNavItemTap('/homethree')"
        >
          <Image
            col="0"
            src="~/images/drawer-icon-home.png"
            stretch="none"
            class="drawer-icons"
          ></Image>
          <Label col="1" text="HOME 3" class="p-r-10 m-l-30"></Label>
        </GridLayout>

        <GridLayout
          columns="25, auto"
          class="sidedrawer-list-item"
          [class.selected]="isComponentSelected('/speakers')"
          (tap)="onNavItemTap('/speakers')"
        >
          <Image
            col="0"
            src="~/images/drawer-icon-speakers.png"
            stretch="none"
            class="drawer-icons"
          ></Image>
          <Label col="1" text="SPEAKERS" class="p-r-10 m-l-30"></Label>
        </GridLayout>

        <GridLayout
          columns="25, auto"
          class="sidedrawer-list-item"
          [class.selected]="isComponentSelected('/schedule')"
          (tap)="onNavItemTap('/schedule')"
        >
          <Image
            col="0"
            src="~/images/drawer-icon-schedule.png"
            stretch="none"
            class="drawer-icons"
          ></Image>
          <Label col="1" text="SCHEDULE" class="p-r-10 m-l-30"></Label>
        </GridLayout>

        <GridLayout
          columns="25, auto"
          class="sidedrawer-list-item"
          [class.selected]="isComponentSelected('/venue')"
          (tap)="onNavItemTap('/venue')"
        >
          <Image
            col="0"
            src="~/images/drawer-icon-venue.png"
            stretch="none"
            class="drawer-icons"
          ></Image>
          <Label col="1" text="VENUE" class="p-r-10 m-l-30"></Label>
        </GridLayout>

        <GridLayout
          columns="25, auto"
          class="sidedrawer-list-item"
          [class.selected]="isComponentSelected('/workshop')"
          (tap)="onNavItemTap('/workshop')"
        >
          <Image
            col="0"
            src="~/images/drawer-icon-workshop.png"
            stretch="none"
            class="drawer-icons"
          ></Image>
          <Label col="1" text="WORKSHOP" class="p-r-10 m-l-30"></Label>
        </GridLayout>

        <GridLayout
          columns="25, auto"
          class="sidedrawer-list-item"
          [class.selected]="isComponentSelected('/poster')"
          (tap)="onNavItemTap('/poster')"
        >
          <Image
            col="0"
            src="~/images/drawer-icon-poster.png"
            stretch="none"
            class="drawer-icons"
          ></Image>
          <Label
            col="1"
            text="POSTER PRESENTATION"
            class="p-r-10 m-l-30"
          ></Label>
        </GridLayout>

        <GridLayout
          columns="25, auto"
          class="sidedrawer-list-item"
          [class.selected]="isComponentSelected('/sponsor')"
          (tap)="onNavItemTap('/sponsor')"
        >
          <Image
            col="0"
            src="~/images/drawer-icon-sponsor.png"
            stretch="none"
            class="drawer-icons"
          ></Image>
          <Label
            col="1"
            text="SPONSOR & PARTNERS"
            class="p-r-10 m-l-30"
          ></Label>
        </GridLayout>

        <GridLayout
          columns="25, auto"
          class="sidedrawer-list-item"
          [class.selected]="isComponentSelected('/exhibitors')"
          (tap)="onNavItemTap('/exhibitors')"
        >
          <Image
            col="0"
            src="~/images/drawer-icon-exhibitors.png"
            stretch="none"
            class="drawer-icons"
          ></Image>
          <Label col="1" text="EXHIBITORS" class="p-r-10 m-l-30"></Label>
        </GridLayout>

        <GridLayout
          columns="25, auto"
          class="sidedrawer-list-item"
          [class.selected]="isComponentSelected('/about')"
          (tap)="onNavItemTap('/about')"
        >
          <Image
            col="0"
            src="~/images/drawer-icon-about.png"
            stretch="none"
            class="drawer-icons"
          ></Image>
          <Label col="1" text="About" class="p-r-10 m-l-30"></Label>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>
  <page-router-outlet tkMainContent> </page-router-outlet>
</RadSideDrawer>
