<pc-header-bar title="PHCC Conference - Home 2"></pc-header-bar>

<StackLayout class="page-content">
  <GridLayout rows="auto,*,*,auto" columns="*,*" class="home-grid">
    <StackLayout row="0" col="0" colSpan="2" class="label-grid">
      <pc-keynotes-grid></pc-keynotes-grid
    ></StackLayout>

    <StackLayout
      class="label-grid schedule-bg"
      row="1"
      col="0"
      (tap)="onNavItemTap('/schedule')"
    >
      <GridLayout rows="*, *" class="label-grid-inside">
        <Image
          row="0"
          column="0"
          class="label-center label-icons m-t-30"
          src="~/images/schedule-white.png"
          stretch="none"
        ></Image>
        <Label
          row="1"
          column="0"
          class="label-title label-center"
          text="SCHEDULE"
        ></Label>
      </GridLayout>
    </StackLayout>

    <StackLayout
      class="label-grid venue-bg"
      row="1"
      col="1"
      (tap)="onNavItemTap('/venue')"
    >
      <GridLayout rows="auto,auto,*" class="label-grid-inside">
        <Image
          row="0"
          column="0"
          class="label-center label-icons m-t-120"
          src="~/images/venue-white.png"
          stretch="none"
        ></Image>

        <Label
          row="1"
          column="0"
          class="label-title label-center m-t-30"
          text="VENUE"
        ></Label>
        <Label
          row="2"
          column="0"
          class="label-title-desc"
          text="Ritz Carlton Doha"
        ></Label>
      </GridLayout>
    </StackLayout>

    <StackLayout
      class="label-grid workshop-bg"
      row="2"
      col="0"
      (tap)="onNavItemTap('/workshop')"
    >
      <GridLayout rows="auto, auto, auto" class="label-grid-inside">
        <Image
          row="0"
          column="0"
          class="label-center label-icons m-t-120"
          src="~/images/workshop-white.png"
          stretch="none"
        ></Image>

        <Label
          row="1"
          column="0"
          class="label-title label-center m-t-30"
          text="WORKSHOP"
        ></Label>

        <StackLayout
          row="2"
          column="0"
          orientation="horizontal"
          class="label-stack-center"
        >
          <Label class="label-title-desc-bold" text="3&nbsp;"></Label>
          <Label class="label-title-desc" text="Workshop"></Label>
        </StackLayout>
      </GridLayout>
    </StackLayout>

    <StackLayout
      class="label-grid poster-bg"
      row="2"
      col="1"
      (tap)="onNavItemTap('/poster')"
    >
      <GridLayout rows="auto,auto" class="label-grid-inside">
        <Image
          row="0"
          column="0"
          class="label-center label-icons m-t-120"
          src="~/images/poster-white.png"
          stretch="none"
        ></Image>
        <Label
          row="1"
          column="0"
          class="label-title label-center m-t-10 label-extra-padding"
          text="POSTER PRESENTATION"
          textWrap="true"
        ></Label>
      </GridLayout>
    </StackLayout>

    <StackLayout
      class="label-grid exhibitors-bg"
      row="3"
      col="0"
      (tap)="onNavItemTap('/exhibitors')"
    >
      <GridLayout rows="auto, auto" class="label-grid-inside">
        <Image
          row="0"
          column="0"
          class="label-center label-icons m-t-60"
          src="~/images/exhibitors-white.png"
          stretch="none"
        ></Image>
        <Label
          row="1"
          column="0"
          class="label-title label-center m-t-20 m-b-20"
          text="EXHIBITORS"
        ></Label>
      </GridLayout>
    </StackLayout>

    <StackLayout
      class="label-grid about-bg"
      row="3"
      col="1"
      (tap)="onNavItemTap('/about')"
    >
      <GridLayout rows="auto,auto" class="label-grid-inside">
        <Image
          row="0"
          column="0"
          class="label-center label-icons m-t-60"
          src="~/images/about-white.png"
          stretch="none"
        ></Image>
        <Label
          row="1"
          column="0"
          class="label-title label-center m-t-20 m-b-20"
          text="ABOUT"
        ></Label>
      </GridLayout>
    </StackLayout>
  </GridLayout>
</StackLayout>
