// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
  font-family: "FontAwesome";
}
// Common page class
.page-content {
  .page-placeholder {
    color: $page-icon-color;
    font-size: $page-content-placeholder-font-size;
    vertical-align: center;
    horizontal-align: center;
  }
}

//Action bar
.action-bar {
  background: white;
  padding: 15px;
  .navigation-button {
    vertical-align: center;
    horizontal-align: center;
  }
  .action-bar-title {
    font-family: "Exo-Bold";
    color: #4a4a4a;
    font-weight: bold;
    horizontal-align: left;
    margin-left: 72px;
  }
}

// Drawer navigation custom styles
$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 10;
$sidedrawer-list-icon-size: 20;

.sidedrawer {
  &.sidedrawer-left {
    background-color: $background-light;
    font-family: "Exo-Regular";
    color: $primary;

    .footnote {
      color: rgba($ab-color, 0.5);
    }
  }

  .sidedrawer-header {
    .sidedrawer-header-info {
      margin-bottom: 20;
    }
    .sidedrawer-header-brand {
      color: $primary;
      font-family: "Exo-Medium";
      font-weight: bold;
    }
  }

  .sidedrawer-content {
    background-color: $side-drawer-background;

    $sidedrawer-list-item-offset-left: 15;
    $sidedrawer-list-icon-offset: 10;
    $sidedrawer-list-icon-size: 20;

    .sidedrawer-list-item {
      padding-left: $sidedrawer-list-item-offset-left;
      label {
        vertical-align: center;
        color: $blue-dark;
      }
      .fa {
        width: $sidedrawer-list-icon-size;
        margin-right: $sidedrawer-list-icon-offset;
      }
      &.selected {
        background-color: $item-active-background;
        label {
          color: $item-active-color;
        }
      }
    }
  }
}
