// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
  font-family: "FontAwesome";
}
// Common page class
.page-content {
  padding: 20px;
}

//Action bar
.action-bar {
  margin-top: 30px;
  background: white;
  vertical-align: center;
  .action-bar-title {
    font-family: "Exo-Bold";
    color: #4a4a4a;
    font-weight: bold;
    padding-left: 36px;
    horizontal-align: left;
  }
}

// Drawer navigation custom styles
$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 10;
$sidedrawer-list-icon-size: 20;

.sidedrawer {
  .sidedrawer-header-custom {
    padding-top: 60px;
    background: linear-gradient(to right, #65b91c, #468312);
    color: white;

    .sidedrawer-header-title {
      font-weight: bold;
      font-family: "Exo-Bold";
      font-size: 20px;
    }

    .sidedrawer-header-text {
      font-family: "Exo-Regular";
      color: white;
      font-size: 14px;
      vertical-align: bottom;
    }
  }

  .sidedrawer-content {
    background-color: $side-drawer-background;

    $sidedrawer-list-item-offset-left: 16;
    $sidedrawer-list-icon-offset: 10;
    $sidedrawer-list-icon-size: 20;

    .sidedrawer-list-item {
      padding-left: $sidedrawer-list-item-offset-left;
      vertical-align: center;
      label {
        vertical-align: center;
        color: #000000;
        font-weight: bold;
        font-family: "Exo-Regular";
        font-size: 14px;
      }
      .fa {
        width: $sidedrawer-list-icon-size;
        margin-right: $sidedrawer-list-icon-offset;
      }
      &.selected {
        font-family: "Exo-Bold";
        background-color: $item-active-background;
        label {
          color: #000000;
          font-weight: bold;
          font-family: "Exo-Bold";
        }
      }
      .drawer-icons {
        vertical-align: center;
        horizontal-align: center;
        transform: scale(1.3);
      }
    }
  }
}

// Home Dashboard custom sytles
.home-grid {
  .label-speaker-name {
    font-family: "Exo-Regular";
    font-size: 14px;
  }
  .label-speaker-profession {
    font-family: "Exo-Regular";
    font-size: 10px;
  }
  .label-grid {
    margin: 5px;
    padding: 30px;
    color: white;
    font-family: "Exo-Bold";
    font-size: 15px;
    border-width: 1px;
    border-radius: 10px;
    text-align: center;
  }
  .label-image {
    width: 200px;
  }
  .keynote-bg {
    background-color: #4b1c1f;
  }
  .schedule-bg {
    background: #002c58;
    background-image: url("~/images/schedule-bg.png") no-repeat center;
  }
  .venue-bg {
    background: #09274a;
  }
  .workshop-bg {
    background: #65b91c;
  }
  .poster-bg {
    background: #2f8b4f;
  }
  .about-bg {
    background: #003a5f;
  }
  .exhibitors-bg {
    background: #ff8105;
  }
  .phcc-bg {
    background: gray;
  }
}

.label-center {
  vertical-align: center;
}
