<pc-header-bar title="PHCC Conference"></pc-header-bar>

<StackLayout class="page-content">
  <GridLayout rows="auto,*,*,*" columns="*,*" class="home-grid">
    <StackLayout row="0" col="0" colSpan="2" class="label-grid">
      <pc-keynotes-grid></pc-keynotes-grid>
    </StackLayout>

    <StackLayout
      class="label-grid grid-radius schedule-bg"
      row="1"
      col="0"
      [nsRouterLink]="['/schedule']"
    >
      >
      <GridLayout rows="auto, auto" class="label-grid-inside">
        <Image
          row="0"
          col="0"
          class="label-center label-icons m-t-120"
          src="~/images/schedule-white.png"
          stretch="none"
        ></Image>
        <Label
          row="1"
          col="0"
          class="label-title label-center m-t-30"
          text="SCHEDULE"
        ></Label>
      </GridLayout>
    </StackLayout>

    <StackLayout
      class="label-grid grid-radius venue-bg"
      row="1"
      col="1"
      [nsRouterLink]="['/venue']"
    >
      <GridLayout rows="auto,auto,*" class="label-grid-inside">
        <Image
          row="0"
          col="0"
          class="label-center label-icons m-t-120"
          src="~/images/venue-white.png"
          stretch="none"
        ></Image>

        <Label
          row="1"
          col="0"
          class="label-title label-center m-t-30"
          text="VENUE"
        ></Label>
        <Label
          row="2"
          col="0"
          class="label-title-desc"
          text="Ritz Carlton Doha"
        ></Label>
      </GridLayout>
    </StackLayout>

    <StackLayout
      class="label-grid grid-radius workshop-bg"
      row="2"
      col="0"
      [nsRouterLink]="['/workshop']"
    >
      <GridLayout rows="auto,auto,auto" class="label-grid-inside">
        <Image
          row="0"
          col="0"
          class="label-center label-icons m-t-120"
          src="~/images/workshop-white.png"
          stretch="none"
        ></Image>

        <Label
          row="1"
          col="0"
          class="label-title label-center m-t-30"
          text="WORKSHOP"
        ></Label>

        <StackLayout
          row="2"
          col="0"
          orientation="horizontal"
          class="label-stack-center"
        >
          <Label class="label-title-desc-bold" text="3&nbsp;"></Label>
          <Label class="label-title-desc" text="Workshop"></Label>
        </StackLayout>
      </GridLayout>
    </StackLayout>

    <StackLayout
      class="label-grid grid-radius poster-bg"
      row="2"
      col="1"
      [nsRouterLink]="['/poster']"
    >
      <GridLayout rows="auto,auto" class="label-grid-inside">
        <Image
          row="0"
          col="0"
          class="label-center label-icons m-t-120"
          src="~/images/poster-white.png"
          stretch="none"
        ></Image>
        <Label
          row="1"
          col="0"
          class="label-title label-center m-t-10 label-extra-padding"
          text="POSTER PRESENTATION"
          textWrap="true"
        ></Label>
      </GridLayout>
    </StackLayout>

    <StackLayout
      class="label-grid grid-radius phcc-bg"
      row="4"
      col="0"
      colSpan="2"
      [nsRouterLink]="['/about']"
    >
      <GridLayout rows="*" columns="*,*">
        <Image class="m-5" row="0" col="0" src="~/images/phcc1.png"></Image>
        <Image class="m-5" row="0" col="1" src="~/images/phcc2.png"></Image>
      </GridLayout>
    </StackLayout>
  </GridLayout>
</StackLayout>
